.md-grid {
  max-width: 1440px; 
}

.ext-map-container {
  height: 600px;
  max-width: 100%;
  max-height: 100%;
}


.md-typeset .ext-one-column {
  background: lightgray;
  grid-template-columns: 1fr;
}

[data-md-color-scheme="slate"] .md-typeset .ext-one-column {
    background: rgb(67, 66, 67);
    grid-template-columns: 1fr;
}

.md-typeset .ext-narrow-margin {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.md-typeset h1 {
  margin-bottom: 0.15rem;
}


/* Grid */

.row { 
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-0-24 { width:0%; display:none; }
.col-1-24 { width:4.166667%; display:inline-block; }
.col-2-24 { width:8.333333%; display:inline-block; }
.col-3-24 { width:12.5%; display:inline-block; }
.col-4-24 { width:16.666667%; display:inline-block; }
.col-5-24 { width:20.833333%; display:inline-block; }
.col-6-24 { width:25%; display:inline-block; }
.col-7-24 { width:29.166667%; display:inline-block; }
.col-8-24 { width:33.333333%; display:inline-block; }
.col-9-24 { width:37.5%; display:inline-block; }
.col-10-24 { width:41.666667%; display:inline-block; }
.col-11-24 { width:45.833333%; display:inline-block; }
.col-12-24 { width:50%; display:inline-block; }
.col-13-24 { width:54.166667%; display:inline-block; }
.col-14-24 { width:58.333333%; display:inline-block; }
.col-15-24 { width:62.5%; display:inline-block; }
.col-16-24 { width:66.666667%; display:inline-block; }
.col-17-24 { width:70.833333%; display:inline-block; }
.col-18-24 { width:75%; display:inline-block; }
.col-19-24 { width:79.1666667%; display:inline-block; }
.col-20-24 { width:83.333333%; display:inline-block; }
.col-21-24 { width:87.5%; display:inline-block; }
.col-22-24 { width:91.666667%; display:inline-block; }
.col-23-24 { width:95.833333%; display:inline-block; }
.col-24-24 { width:100%; display:inline-block; }
/* 24 */

.sep-div { height: 1vh;}

/*------------------------------------------------------*/
/* Home banner styles */

.banner-content-col {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.banner-content-row {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.banner-content {
  height: 75%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.banner-title.md-typeset {
  color: #009485;
  background-color:  #dadada;
  padding: 10px 20px; /* Top/bottom and left/right padding */
  border-radius: 10px; /* Rounded corners */
  display: flex; /* Makes the element inline but allows padding and width */
  text-align: center; /* Centers the text */
  border: 2px solid transparent; /* Optional: border, can be set to a color if you like */
  text-decoration: none; /* Removes underline from text if it's a link */
  font-weight: bold; /* Makes the font bold */
  /* Add other styling as needed for font-size, font-family, etc. */
}

[data-md-color-scheme="slate"] .banner-title.md-typeset {
  color: rgb(84, 109, 120);
  background-color: #ffffff;
  padding: 10px 20px; /* Top/bottom and left/right padding */
  border-radius: 10px; /* Rounded corners */
  display: flex; /* Makes the element inline but allows padding and width */
  text-align: center; /* Centers the text */
  border: 2px solid transparent; /* Optional: border, can be set to a color if you like */
  text-decoration: none; /* Removes underline from text if it's a link */
  font-weight: bold; /* Makes the font bold */
  /* Add other styling as needed for font-size, font-family, etc. */
}

.banner-title.md-typeset .banner-logo {
  margin-right: 10px; /* Adds some space between the logo and the text */
  height: auto; /* Maintains aspect ratio */
  width: 25%/* Your desired width, e.g., 50px */;
}

.home-tagline {
  font-size: 2.5em !important;

}

.banner-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.banner-buttons .md-button {
  margin-top: .5rem;
  margin-right: .5rem;
  color: #009485;
  border-color: #dadada !important;
  background-color: #dadada;
  border-radius: 5px;
  transition: .2s ease-in-out;
  /* width: 100%; */
  
}

[data-md-color-scheme="slate"] .banner-buttons .md-button {
  margin-top: .5rem;
  margin-right: .5rem;
  color:  rgb(84, 109, 120);
  border-color: #ffffff;
  background-color: #ffffff; 
  border-radius: 5px;
  transition: .2s ease-in-out;
  /* width: 100%; */
  
}

.banner-buttons .md-button:focus,
.banner-buttons .md-button:hover {
  background-color: #009485;
  color: #dadada;
  border-color: #009485;
  border-radius: 10px;
}

[data-md-color-scheme="slate"] .banner-buttons .md-button:focus,
.banner-buttons .md-button:hover {
  background-color:  rgb(84, 109, 120);
  color: #ffffff;
  border-color:  rgb(84, 109, 120);
  border-radius: 10px;
  /* width: 100%; */  
}

.banner-buttons .btn-margin {
  max-width: 20px;
}

.banner-button {
  width: 100%;
  max-width: 190px;
}

.banner-button .md-button {
  width: 100%;
  max-width: 175px;
  text-align: center;
  padding: 0.25rem 0 !important;
}

.banner-img-container {
  height: 75%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.banner-img {
  height: 100%;
  max-height: 300px;
  width: auto;
}

@media (max-width: 1025px) {

  .banner-content-col .margin {
    display: none;
    width: 0;
  }

  .banner-content {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .banner-buttons {
    flex-direction: column;
    max-width: 100%;
  }
  .banner-button {
    width: 100%;
    max-width: unset;
  }
  .banner-button .md-button {
    width: 100%;
    max-width: unset;
    text-align: center;
  }
  .banner-img-container {
    display: none;
  }
}
/* Responsive styles */

/*------------------------------------------------------*/