
/*------------------------------------------------------*/
/* Home banner styles */

/* logo image selection for light vs dark mode */

/* change images for dark mode */
:root {
  --banner-logo: url("{{ config.home_logo_image }}");
  --home-cover-image: url("{{ config.home_cover_image }}");
}

[data-md-color-scheme="slate"] {
  --banner-logo: url("{{ config.home_logo_image_dark }}");
  --home-cover-image: url("{{ config.home_cover_image_dark }}");
}

/* sets up the container for the banner row and adds an image */

.banner-row-container {
  max-width: unset !important;
  margin: 0 !important;
  padding-top: .0rem !important;
  height: 70vh !important;
  min-height: 300px !important;
  /* background: linear-gradient(to bottom, var(--md-primary-fg-color), {{ config.home_gradient_hsla }} 99%, {{ config.home_gradient_hsla }} 99%); */
  /* This is used for the background gradient */

  /* background-image: url(img/bg08.jpg); */
  background-image: var(--home-cover-image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  -moz-background-size: cover;
  background-size: cover;
  /* This stuff is used for the background image */
}

@media (max-width: 1025px) {
  .banner-row-container { background-attachment: scroll; }
}

.banner-row {
  height:100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.banner-content-col {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.banner-content-row {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.banner-content {
  height: 75%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

/* makes the title area into a button-like box, comment out for plain text */
.banner-title.md-typeset {
  padding: 10px 20px; /* Top/bottom and left/right padding */
  border-radius: 10px; /* Rounded corners */
  display: flex; /* Makes the element inline but allows padding and width */
  text-align: center; /* Centers the text */
  border: 2px solid transparent; /* Optional: border, can be set to a color if you like */
  text-decoration: none; /* Removes underline from text if it's a link */
  font-weight: bold; /* Makes the font bold */
}

/* logo display parameters */
/* set display: none to remove logo display */
.banner-title.md-typeset .banner-logo {
  margin-right: 10px; /* Adds some space between the logo and the text */
  height: auto; /* Maintains aspect ratio */
  width: 25%/* Your desired width, e.g., 50px */;
  background-image: var(--banner-logo); /* Use the variable here */
  background-size: contain; /* Adjust this as needed */
  background-repeat: no-repeat;
  display: block; /* Adjust this as needed */
}

/* better logo/title display on small screens */
@media (max-width: 470px) {
  .banner-title.md-typeset .banner-logo {
    margin-right: 5px;
    width: 15%
  }
}

/* font size of main text */
.home-tagline {
  font-size: 2.5em !important;
}

/* button configuration */
.banner-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.banner-buttons .md-button {
  margin-top: .5rem;
  margin-right: .5rem;
  border-radius: 5px;
  transition: .2s ease-in-out;
  /* width: 100%; */
  
}

[data-md-color-scheme="slate"] .banner-buttons .md-button {
  margin-top: .5rem;
  margin-right: .5rem;
  border-radius: 5px;
  transition: .2s ease-in-out;
  /* width: 100%; */
  
}

.banner-buttons .md-button:focus,
.banner-buttons .md-button:hover {
  border-radius: 10px;
}

.banner-buttons .btn-margin {
  max-width: 20px;
}

.banner-button {
  width: 100%;
  max-width: 190px;
}

.banner-button .md-button {
  width: 100%;
  max-width: 175px;
  text-align: center;
  padding: 0.25rem 0 !important;
}

.banner-img-container {
  height: 75%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.banner-img {
  height: 100%;
  max-height: 300px;
  width: auto;
}

@media (max-width: 960px) {

  .banner-content-col .margin {
    display: none;
    width: 0;
  }

  .banner-content {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .banner-buttons {
    flex-direction: column;
    max-width: 100%;
  }
  .banner-button {
    width: 100%;
    max-width: unset;
  }
  .banner-button .md-button {
    width: 100%;
    max-width: unset;
    text-align: center;
  }
  .banner-img-container {
    display: none;
  }
}
/* Responsive styles */

/*------------------------------------------------------*/
